<h1>Edit <%= @video_game.title %></h1>

<p>
  <%= button_to "Back to #{@video_game.title}", video_game_path(@video_game), :method => "get", class: "btn btn-info btn-block" %>
</p>
<p>
  <%= button_to "View All Video Games", shows_path, :method => "get", class: "btn btn-info btn-block" %>
</p>
